.pg-md{
  margin-top: 10px;
}

.top{
  margin-top: 20px;
}
.card{
  width:30%;
  margin: 20px;
}

.card-content{
  margin-top:-100px;
}

.content ul{
  list-style-type: none;
  margin: 0;
  padding: 0;
}

.content ul li{
  list-style: none;
  
}

.microlink_card{
  height:10px;
  color: transparent !important;
  border-color: transparent !important;
  background: transparent !important;
}

/* .column{
  width: 100%;
} */

/* .microlink_card__media_image{
  width: 100%;
} */

/* .microlink_card{
  height:20px;
} */

/* .connector{
  border: solid 1px black;
  width: 499px;
  word-wrap: break-word;
} */